/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */

    /* original colors */
    --clr-deep_violet: 278 68% 11%;
    --clr-purplish-grey: 278 6% 55%;
    --clr-light-grey: 278 3% 87%;
    --clr-white: 0 0% 100%;
    --clr-red:0 100% 66%;
    --clr-gradient:249 99% 64%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.2rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.7rem;
    
    /* font-families */
    --ff-serif: "Red Hat Display", serif;
    --ff-sans-cond: "Red Hat Display", sans-serif;
    --ff-sans-normal: "Red Hat Display", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}
